In [1]:
# Importing Necessary libraries

import numpy as np
import pandas as pd

In [2]:
# Loading the dataset

df = pd.read_csv('t20i_info.csv')

In [3]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [4]:
# Checking for null values

df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [5]:
df.shape

(63888, 9)

# What all things we need to predict the score

batting team,
bowling team,
city, 
current score, 
balls left,
current run rate, 
last five/six ---> powerplay

In [6]:
df[df['city'].isnull()]['venue'][0].split(" ")[0]

'Melbourne'

In [7]:
# To fill null values

df['city'] = df['city'].fillna(df['venue'].apply(lambda x:x.split(' ')[0]))

In [8]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [9]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [10]:
df['city'].value_counts()

city
Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Nairobi           123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 86, dtype: int64

In [11]:
# shortlisting cities which has 600+ matches on ground

eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [12]:
eligible_cities

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [13]:
df = df[df['city'].isin(eligible_cities)]

In [14]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [15]:
df.shape

(50501, 9)

In [16]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [17]:
# To Calculate the current score 


df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [18]:
df['current_score']

0          0
1          0
2          1
3          3
4          3
        ...
63883    125
63884    125
63885    125
63886    127
63887    128
Name: current_score, Length: 50501, dtype: int64

In [19]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3
...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128

In [20]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3

In [21]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
current_score       0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 63887
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50501 non-null  int64
 1   match_id          50501 non-null  int64
 2   batting_team      50501 non-null  object
 3   bowling_team      50501 non-null  object
 4   ball              50501 non-null  float64
 5   runs              50501 non-null  int64
 6   player_dismissed  50501 non-null  object
 7   city              50501 non-null  object
 8   venue             50501 non-null  object
 9   current_score     50501 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 4.2+ MB

In [23]:
# To add new columns in the data set

df['over'] = df['ball'].apply(lambda x : str(x).split(".")[0])
df['ball_no.'] = df['ball'].apply(lambda x : str(x).split(".")[1])

In [24]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5

In [25]:
# Numbers of balls bowled

df['balls_bowled'] = df['over'].astype(int)*6 + df['ball_no.'].astype(int)

In [26]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121

In [27]:
# To check number of balls left in the match 

df['balls_left'] = 120 - df['balls_bowled']

In [28]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,-1

In [29]:
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

In [30]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,0

In [31]:
# To check how many wickets are left 

df['player_dismissed'] = df['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [32]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,0

In [33]:
df['player_dismissed'] = df['player_dismissed'].astype(int)

In [34]:
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [35]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0

In [36]:
df['wicket_left'] = 10 - df['player_dismissed']

In [37]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left,wicket_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1

In [38]:
# To find Current Run-rate

df['current_run_rate'] = (df['current_score']*6) / df['balls_bowled']

In [39]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left,wicket_left,current_run_rate
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107

In [40]:
# To get runs of last five/six overs

groups = df.groupby('match_id')
match_id = df['match_id'].unique()
last_five = []
for id in match_id:
    last_five.extend(groups.get_group(id).rolling(window = 30)['runs'].sum().values.tolist())

In [41]:
df['last_five'] = last_five

In [42]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [43]:
# Merging the dataset

final_df = df.groupby('match_id')['runs'].sum().reset_index().merge(df, on ='match_id')

In [44]:
final_df

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_score,over,ball_no.,balls_bowled,balls_left,wicket_left,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000,NaN
1,2,168,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000,NaN
2,2,168,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000,NaN
3,2,168,3,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000,NaN
4,2,168,4,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50496,964,128,121,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256,32.0
50497,964,128,122,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932,32.0
50498,964,128,123,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521,32.0
50499,964,128,124,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000,33.0
50500,964,128,125,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107,32.0

In [45]:
df.isnull().sum()

Unnamed: 0              0
match_id                0
batting_team            0
bowling_team            0
ball                    0
runs                    0
player_dismissed        0
city                    0
venue                   0
current_score           0
over                    0
ball_no.                0
balls_bowled            0
balls_left              0
wicket_left             0
current_run_rate        0
last_five           12024
dtype: int64

In [46]:
final_df.columns

Index(['match_id', 'runs_x', 'Unnamed: 0', 'batting_team', 'bowling_team',
       'ball', 'runs_y', 'player_dismissed', 'city', 'venue', 'current_score',
       'over', 'ball_no.', 'balls_bowled', 'balls_left', 'wicket_left',
       'current_run_rate', 'last_five'],
      dtype='object')

In [47]:
final_df = final_df[['batting_team', 'bowling_team','city', 'current_score','balls_left', 'wicket_left',
       'current_run_rate', 'last_five','runs_x']]

In [48]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five,runs_x
0,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...
50496,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
50497,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
50498,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
50499,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
50500,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [49]:
final_df.dropna(inplace = True)

C:\Users\tejas\AppData\Local\Temp\ipykernel_4212\1587496580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace = True)

In [50]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five,runs_x
29,Australia,Sri Lanka,Melbourne,43,90,10,8.600000,43.0,168
30,Australia,Sri Lanka,Melbourne,44,89,10,8.516129,44.0,168
31,Australia,Sri Lanka,Melbourne,45,88,10,8.437500,45.0,168
32,Australia,Sri Lanka,Melbourne,45,87,10,8.181818,44.0,168
33,Australia,Sri Lanka,Melbourne,45,86,10,7.941176,42.0,168
...,...,...,...,...,...,...,...,...,...
50496,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
50497,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
50498,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
50499,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
50500,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [51]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wicket_left         0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

# Training the dataset

In [52]:
X = final_df.drop(columns = ['runs_x'])
Y = final_df['runs_x']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [55]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five
1408,West Indies,Pakistan,Dubai,36,75,5,4.800000,21.0
21723,Pakistan,South Africa,Nottingham,124,26,6,7.914894,42.0
35901,New Zealand,England,Wellington,24,89,9,4.645161,24.0
9131,West Indies,India,Kolkata,47,64,6,5.035714,19.0
24423,Australia,Bangladesh,Barbados,84,29,4,5.538462,28.0
...,...,...,...,...,...,...,...,...
8237,New Zealand,Sri Lanka,Auckland,29,91,6,6.000000,29.0
14838,New Zealand,Sri Lanka,Wellington,80,75,9,10.666667,50.0
50095,Sri Lanka,Pakistan,Mirpur,65,62,10,6.724138,43.0
1150,West Indies,India,Lauderhill,84,83,10,13.621622,67.0
20741,Sri Lanka,Pakistan,London,118,31,7,7.955056,32.0

# Importing necessary libraries

In [56]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error
from xgboost import XGBRegressor

In [58]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (1.5.0)
Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/cb/be/dec2a8d31d133034a8ec51ae68ac564ec9bde1c78a64551f1438c3690b9e/scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata
  Using cached scikit_learn-1.5.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from scikit-learn) (3.5.0)
Using cached scikit_learn-1.5.1-cp312-cp312-win_amd64.whl (10.9 MB)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.0
    Uninstalling scikit-learn-1.5.0:
      Successfully uninstalled scikit-learn-1.5.0
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\tejas\\OneDrive\\Desktop\\python\\.python3.11\\Lib\\site-packages\\~-learn\\.libs\\msvcp140.dll'
Check the permissions.


[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(sparse_output = False, drop = 'first'),['batting_team', 'bowling_team', 'city'])
], remainder = 'passthrough')

In [60]:
pipe = Pipeline(steps = [
    ('step1' , transformer),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators = 1000, learning_rate = 0.2, max_depth = 12, random_state = 1))
])

In [61]:
pipe

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('transformer',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, dev...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=1000, n_jobs=None,
                              num_parallel_tree=None, random_state=1, ...))])

In [62]:
pipe.fit(X_train, Y_train)
Y_pred = pipe.predict(X_test)

In [63]:
r2_score(Y_test, Y_pred)

0.9880996942520142

In [64]:
mean_absolute_error(Y_test, Y_pred)

1.5969802148624666

In [65]:
import pickle

In [66]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [67]:
# To get the columns

print(df['batting_team'].unique())

['Australia' 'New Zealand' 'South Africa' 'England' 'India' 'West Indies'
 'Pakistan' 'Bangladesh' 'Afghanistan' 'Sri Lanka']

In [68]:
eligible_cities

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [69]:
pip install --upgrade streamlit

Requirement already satisfied: streamlit in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (1.37.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (5.4.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (24.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (5.27.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (6.4)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from altair<6,>=4.0->streamlit) (4.22.0)
Requirement already satisfied: toolz in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.1)
Requirement already satisfied: colorama in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.6.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\tejas\onedrive\desktop\python\.python3.11\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip